body {
  background-color: #bdcdd6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

header {
  background-color: #6096b4;
  color: white;
  padding-bottom: 20px;
  width: 80%;
  margin: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

header h1 {
  margin: 0;
  font-size: 50px;
  font-family: "Gloria Hallelujah", Arial, Helvetica, sans-serif;
  text-align: center;
}

.monogram-logo {
  height: 100px;
  position: relative;
  top: 30px;
  margin-right: 40px;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.p-description {
  text-align: center;
  font-size: 35px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: 25%;
  min-width: 300px;
  height: 25rem;
  background-color: #eee9da;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888;
  margin: 20px;
  text-align: center;
  padding: 20px;
  transition: transform 1s;
}

.card:hover {
  -webkit-transform: scale(1.2);
}

.card-img {
  width: 50%;
  object-fit: cover;
}

.card h2 {
  font-size: 1rem;
  margin: 20px 0;
}

.card p {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
}

footer {
  background-color: #6096b4;
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  width: 80%;
  margin: auto;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.main-content {
  width: 80%;
  margin: auto;
  text-align: center;
}

.about-my-work {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.first-rate-p {
  font-size: 25px;
  margin-bottom: 80px;
}

.contacts {
  width: 80%;
  margin: auto;
  text-align: center;
}

.contact-icon {
  width: 15%;
  margin: 40px;
}
